h3{
    font-size: 25px !important;
}

.btn-success:hover{
    background-color: red;
}

@keyframes canvasAnimation{
    from{
        box-shadow: 1px 1px 38px cyan;
        border-style: ridge;
    }

    to{
        box-shadow: 1px 1px 38px navy;
        border-style: dotted;
    }
}

canvas{
    animation-name: canvasAnimation;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}